.App {

  max-width:500px;
  width:100%;
  height: 100%;
}

.aba-cima{
  width: 100%;
  height: 80px;
display: flex;
justify-content:center;
align-items:center;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}

.logo{
margin-top:25px;

  width: 160px;



}



.aba-cima-icon-user{
  width: 40px;
height: 40px;
right:10px;
top: 15px;

background: #484848;
border-radius: 40px;

position: absolute;
display: none
}
.img-anuncio-bemvindo{

width: 100%;
height: 250px;
left: 0px;
margin-top: 30px;
background-color: #cacaca;
z-index: -40;
margin-bottom:30px;
}

.img1{

width: 100%;
height: 100%;
left: 0px;
top: 74px;
z-index: -30;
}

.inner{
display:flex;
margin-top:10px;
}
.item{
min-height:100px;
min-width:40px;

margin-top:10px;
  z-index: 30;
}

.imger{

height:100%;
width:33%;

border-radius:10px;
pointer-events: none;
margin-left:3px;
}

.carossel{
cursor:grab;
margin-left:6px;

overflow: hidden;
margin-top:5px;
}
.div-texto-slider{
margin-top:380px;
}
.div-texto-h2{margin:0px;
margin-left:12px;
font-size:20px;}
.div-texto-h3{margin:0px;
margin-left:12px;
font-size:15px;}
.footer{

  background: black;


 width: 100%;
  height: 60px;
  color:#ffff;
  z-index: -300;

bottom:0px;
display: flex;
justify-content:center;
align-items:center;
}
.div-texto-h3-2{
text-align: center;
margin:0px;


margin-left:12px;

font-size:12px;}

.menu-aba1{
 width: 100%;

}
.menu-aba-baixo{
  position: absolute;
   position: fixed;
 width: 75%;
  height: 60px;
  background-color: #cacaca;
margin-left:12.5%;
border-radius:10px;

  bottom: 30px;
  z-index: 30;
  opacity : 0.82; 
  display : none;
}
.img-div-slider13{
max-height:340px;
min-width:170px;
margin-left:5px;

}
.img-div-slider13 img{
height:65%;
width:90%;

border-radius:10px;
pointer-events: none;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.div-texto-h3-slider1{
display: inline-block;
color:black;
  text-decoration: none;
margin:0px;
font-size:15px;
}
.div-texto-h4-slider2{
display: inline-block;
color:black;
text-decoration:none ;
margin:0px;
font-size:13px;
}
