.item{
min-height: 700px;

min-width: 100%;

margin-top:10px;
  z-index: 30;
  margin:0;
}

.item img{
height: 100%;
width:100%;
border-radius:10px;
pointer-events: none;

}
.App-2{
margin:0;
 max-width:600px;
  width:100%;
  height: 100%;

}
.carossel{

cursor:grab;
  margin:0;
margin-top:30px;
overflow: hidden;}
